.navbar {
  width: 100%;
  box-shadow: 0 4px 6px rgba(0,0,0,.2);
  padding:0;
}

/* HEADER */

.nav-btn{
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
}

.navbar{
  background-color: #fffff0;
  width:100%;

  margin:0;
  padding: 0;
}

#home-btn{

  background-image: url("../img/home.png");
  margin-left: 5%;
  margin-top: 1.1rem;
  margin-bottom: 0.8rem;
  border-color: black;
}
#search-btn{
  display: inline-block;
  background-image: url("../img/search.png");
  margin-right: 5%;
  margin-left: 40%;
  margin-top: 1.1rem;
}
#signup-btn{
  background-image: url("../img/signup.png");
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 1.2rem;
  display: inline-block;
}

#login-btn{
  background-image: url("../img/login.png");
  margin-right: 10%;
  margin-left: 5%;
  margin-top: 1.1rem;
  display: inline-block;
}

#settings-btn{
  background-image: url("../img/settings.png");
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  margin-top: 1.2rem;
}
