/* GENERAL */
html, body {
  font-size: 20px;
  margin: 0;
  background-image: url("../img/bckg2.png");
  background-repeat: repeat;
  font-family: 'Montserrat', sans-serif;
  display: inline;
}

.navbar {
  width: 100%;
  box-shadow: 0 4px 6px rgba(0,0,0,.2);
  padding:0;
}
/* HEADER */

.nav-btn{
  display: inline-block;
  height: 2rem;
  width: 2rem;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
}

.navbar-brand{
  background-color: #fffff0;
  width:100%;
  margin:0;
}
.form-inline{
  margin:0;
  padding:0;
}

#home-btn{
  background-image: url("../img/home.png");
  margin-right: 2%;
  margin-left: 6.3%;
  margin-top: 1.5%;
  margin-bottom: 1%;
}

#searchbar{
  margin-left: 30%;
  margin-right: 2%;
  width: 15rem;
  height: 2rem;
  border-radius: 5px;
  font-size:15px;
}
::-webkit-input-placeholder {
  font-size: 15px;
}
#home-btn{
  background-image: url("../img/home.png");
  margin-right: 2%;
  margin-left: 6.3%;
  margin-top: 1.5%;
  margin-bottom: 1%;
}
#search-btn{
  background-image: url("../img/search.png");
  margin-right: 2%;
  margin-left: 2%;
}
#signup-btn{
  background-image: url("../img/signup.png");
  margin-right: 2%;
  margin-left: 2%;
}

#login-btn{
  background-image: url("../img/login.png");
  margin-right: 10%;
  margin-left: 2%;
}

#settings-btn{
  background-image: url("../img/settings.png");
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  margin-top: 1.2rem;
}

#user-btn{
  background-image: url("../img/user.png");
  margin-right: 0.2rem;
  margin-left: 1.4rem;
  margin-top: 1.1rem;
}

#logout-btn{
  background-image: url("../img/logout.png");
}

/* BODY */

/*all these could go in a shared css file between the index pages
if it fits*/
#sign-up-banner{

  background-color: #fffff0;
  color: #282828;
  border-radius: 5px;
  margin-left: 230px;
  margin-top: 40px;
  margin-right: 260px;

}

.section-btn{
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

.carousel.slide{
  height: 20rem;
  width: 90%;
  border: none;
  overflow: auto;
  white-space: nowrap;
  background-color: #282828;
  border-radius: 5px;
}

.d-block.img-fluid{
  height: 50%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffd37a;
  width: 7rem;
  z-index: 1;
  border-radius: 5px;

}
.dropdown-content a, .dropdown-content ul{
  color: white;
  font-size: 1rem;
  list-style: none;
  margin: 5px;
  padding: 0;
}
.dropdown-content a:hover{
  text-decoration: none;
  color: black;
}
.dropdown:hover .dropdown-content {
  display: block;
}

#featured-btn{
  background-image: url("../img/featured.png");
  float: left;
  margin-left: 7.7%;
  margin-top:2.9%;
  margin-bottom: 2%;
}
#near-btn{
  background-image: url("../img/near.png");
  float: left;
  margin-left: 7.7%;
  margin-top:1.0%;
  margin-bottom: 1.2%;
}
#rec-btn{
  background-image: url("../img/rec.png");
  margin-left: 11.7rem;
  margin-top: 2.3rem;
}
#featured-btn-reg{
  background-image: url("../img/featured.png");
  margin-left: 4rem;
  margin-top: 1.1rem;
}
#near-btn-reg{
  background-image: url("../img/near.png");
  margin-left: 4.55rem;
 margin-top: 1.1rem;
}

/* FOOTER COLUMNS*/
#first{
  padding: 0;
  margin: 0;
}

#second{
  padding: 0;
  margin-top: 0;
}

#third{
  padding: 0;
  margin: 0;
}


/* FOOTER BUTTONS */
#about-btn{
  background-image: url("../img/about.png");
  margin-left: 20%;
  margin-right: 7%;
  margin-top: 5%;
}
#faq-btn{
  background-image: url("../img/faq.png");
  margin-left: 7%;
  margin-right: 7%;
}
#contact-btn{
  background-image: url("../img/contact.png");
  margin-left: 7%;
  margin-right: 7%;
}
#fb-btn{
  background-image: url("../img/facebook.png");
  margin-right: 7%;
  margin-left: 7%;
}
#twitter-btn{
  background-image: url("../img/twitter.png");
  margin-right: 7%;
  margin-left: 7%;
}
#github-btn{
  background-image: url("../img/github.png");
  margin-right: 15%;
  margin-left: 7%;
}

/* BODY */
.container-fluid{
  width: 100%;
padding-right: 0;
padding-left: 0;
margin-right: auto;
margin-left: auto;
}

#sign-up-banner{
  height: 7rem;
  width: 45%;
  margin-left: 28%;
  margin-right: 27%;
  background-color: #f0e87e;
  color: black;
  border-radius: 5px;
}

.section-btn{
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

.carousel{
  height: 20rem;
  width: 90%;
  border: none;
  overflow: hidden;
  background-color: #282828;
  border-radius: 5px;
}

.d-block.img-fluid{
  height: auto;
  width: 30%;
}

.carousel-inner .carousel-item-right.active,
.carousel-inner .carousel-item-next {
  transform: translateX(33.33%);
}

.carousel-inner .carousel-item-left.active,
.carousel-inner .carousel-item-prev {
  transform: translateX(-33.33%)
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{
  transform: translateX(0);
}

#featured-carousel, #near-carousel{
  margin-left: 6.3%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


/* FOOTER */
.footer{
  margin: 0;
  margin-top: 4rem;
  padding: 0;
  position: relative;
  border-top: 1px solid #000;
  bottom: 0;
  background-color: #fffff0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 15px;
}
.footer .row{
  margin:0;
  padding:0;
}
.foot-btn{
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

/* SEARCH */
form {
    padding: 1em;
}

.panel {
  margin-bottom: 15px;
  background-color: rgb(242, 238, 234);
  width: 60%;
  padding: 50px;
  display: none;
}
.moodList {
  display: none;
  padding-left: 500px;
}
