/* GENERAL */

html, body {
  font-size: 20px;
  padding: 0;
  margin: 0;
  background-image: url("../img/bckg.jpg");
  background-repeat: repeat;
}

/* HEADER */
.navbar{
  background-color: grey;
  border: 1.5px solid black;
}
.nav-btn{
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  background-color: #fff;
  border-color: #000;
  border-radius: 5px;
}

/* BODY */

/*all these could go in a shared css file between the index pages
if it fits*/
#sign-up-banner{
  height: 7rem;
  width: 90%;
  background-color: #fff;
  border-color: 1px solid #000;
}

.section-btn{
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  background-color: #fff;
  border-color: #000;
  border-radius: 5px;
}

.carousel.slide{
  height: 20rem;
  width: 90%;
  border: 1px solid #000;
  overflow: auto;
  white-space: nowrap;
  background-color: grey;
}

.d-block.img-fluid{
  height: 50%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#reg-featured{
  float: right;
}


/* FOOTER */
.footer{
  margin: 1.5rem;
  padding: 1rem;
  border-top: 1px solid #000;
  position: relative;
  bottom: 0;
}
.foot-btn{
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  background-color: #fff;
  border-color: #000;
  border-radius: 5px;
}
