/* GENERAL */

html, body {
  font-size: 20px;
  margin: 0;
  background-image: url("../img/bckg.jpg");
  background-repeat: repeat;
  font-family: 'Montserrat', sans-serif;
}

header {
  padding: 20px 0;
  background-color: grey;
  box-shadow: 0 4px 6px rgba(0,0,0,.2);
  display:inline;
}

/* HEADER */
.navbar{
  padding: 20px 0;
  background-color: grey;
  border: 1.5px solid black;
  display:inline;
}
.nav-btn{
  height: 2rem;
  width: 2rem;
  background-color: #fff;
  border: none;
  border-radius: 5px;
  display: inline;
}

#home-btn{
  background-image: url("../img/home.png");
}
#search-btn{
  background-image: url("../img/search.png");
}
#login-btn{
  background-image: url("../img/login.png");
}
#signup-btn{
  background-image: url("../img/signup.png");
}
#settings-btn{
  background-image: url("../img/settings.png");
}
#user-btn{
  background-image: url("../img/user.png");
}
#featured-btn{
  background-image: url("../img/featured.png");
  float: right;
}
#near-btn{
  background-image: url("../img/near.png");
}
#rec-btn{
  background-image: url("../img/rec.png");
}
#about-btn{
  background-image: url("../img/about.png");
}
#faq-btn{
  background-image: url("../img/faq.png");
}
#contact-btn{
  background-image: url("../img/contact.png");
}

/* BODY */

/*all these could go in a shared css file between the index pages
if it fits*/
#sign-up-banner{
  height: 7rem;
  width: 90%;
  background-color: #fff;
  border-color: 1px solid #000;
}

.section-btn{
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}

.carousel.slide{
  height: 20rem;
  width: 90%;
  border: 1px solid #000;
  overflow: auto;
  white-space: nowrap;
  background-color: grey;
}

.d-block.img-fluid{
  height: 50%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* FOOTER */
.footer{
  margin: 1.5rem;
  padding: 1rem;
  border-top: 1px solid #000;
  position: relative;
  bottom: 0;
}
.foot-btn{
  height: 2rem;
  width: 2rem;
  font-size: 1rem;
  background-color: #fff;
  border: none;
  border-radius: 5px;
}
