/* CSS for the index page for registered users */
#header{
  padding: 0;
}

#brand{
  margin: 0;
}

#rec-slideshow{
  margin-left: 6.6rem;
  margin-right: 6.0rem;
  margin-top: 2.3rem;
  margin-bottom: 4.6rem;
}

#featured-slideshow{
  margin-left: 6.6rem;
  margin-right: 2.3rem;
  margin-top: 2.3rem;
  margin-bottom: 4.6rem;
  width: 24rem;
  height: 13rem;
}

#near-slideshow{
  margin-left: 2.9rem;
  margin-right: 2.3rem;
  margin-top: 2.3rem;
  margin-bottom: 4.6rem;
  width: 24rem;
  height: 13rem;
}
