/* USER PROFILE */

.container-fluid{
  padding: 0;
}

/* Username display */
#profilename{
  margin-left: 105px;
  margin-right: 2rem;
  margin-top: 66px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  color: #fffff0;
  background-color: #ffd37a;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 140%;
  width: 250px;
  height: 82px;
  text-align:center;
  line-height: 41px;
}

#frm1{
  margin-top: 100px;
}
.pic-wrapper
{
 	margin-left: 8%;
 	margin-top: 5%;
  margin-bottom: 2%;
	height: 300px;
	width: 250px;
	border: 1px solid #fffff0;
}

input#dp {
  height: 300px;
  width: 250px;
  position: relative;
  top: -101%;
  background-color: transparent;
  /*Make input invisible but still clickable*/
  opacity: 0;
}
/*.pic
{
  margin-left: 10%;
  margin-top: 2%;
}*/

.btn-group {
  right: -320px;
  margin-left: 4.75rem;
  margin-left: 10%;
  top: -100px;
}

button#info.btn.btn-primary:hover {
  background-color: #89c6be;
  border-color: #89c6be;
}

button#reviews.btn.btn-primary:hover {
  background-color: #89c6be;
  border-color: #89c6be;
}

button#list.btn.btn-primary:hover {
  background-color: #89c6be;
  border-color: #89c6be;
}
.btn{
  width: 138px;
}

body {
  font-color: white;
}

button#editbtn.btn {
  width: 50px;
  background-color:rgba(0, 0, 0, 0.5);
}

textarea#update.stupdatebox {
  margin-left:30px;
  height: 300px;
  width: 550px;
}

input.stpostbutton {
  background-color: #89c6be;
  border: none;
  color: white;
  padding: 14px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  top: -19px;
  margin-left: -81px;
}

div.info {
  display: block;
  color:#9ec3ff;
  text-align: center;
}

div#mainContent {
  word-wrap: break-word;
  padding-left: 110px;
  padding-right: 80px;
  text-align: left;
  position: relative;
}

.info {
  display: none;
  position: relative;
  height: 800px;
  width: 800px;
  margin-left: 340px;
  margin-right: 320px;
  padding-right: 50px;
  top: -110px;
}

div#reviewList {
  width: 800px;
  word-wrap: break-word;
  color:#9ec3ff;
  margin-left: 10px;
  margin-top: 10px;
  overflow-y: scroll;
}

.reviews {
	display: none;
	position: relative;
	height: 100%;
  width: 800px;
	margin-left: 440px;
  margin-right: 320px;
	padding-right: 50px;
	top: -110px;
}


button#add {
  width: 90px;
  font-size: 15px;
  height: 20px;
  border-radius: 0.5em;
  position: relative;
  top: -25px;
}


div#text {
  position: relative;
  top: -10px;
}

.btn-primary{
  color: #fff;
  background-color: #a9d8d2;
  border-color: #a6bcb9;
}

button#remove {
  width: 100px;
  font-size: 15px;
  height: 20px;
  border-radius: 0.5em;
  position: relative;
  top: -25px;
}


button#submit {
  width: 90px;
  font-size: 15px;
  height: 20px;
  border-radius: 0.5em;
  margin-left: 61%;
  position: relative;
  top: -25px;
}


.list {
  display: none;
  position: relative;
  height: 800px;
  width: 800px;
  margin-left: 440px;
  margin-right: 320px;
  padding-right: 50px;
  top: -110px;
  color: white;
}



button.link { 
	background:none;
	border:none;
}



/*Place footer at the bottom of the page where it should be*/
.footer {
	position: relative;
	top: 300px;
	width: 100%;
}
