/* SEARCH RESULTS PAGE */

#result-msg{
  margin-left: 60px;
  margin-right: 2%;
  margin-top: 5%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  color: #fffff0;
  background-color: #ffd37a;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 20px;
  width: 600px;
  height: 41px;
  line-height: 20px;
}

#name{
  margin-left: 50px;
  margin-top: 5%;
  width: 300px;
  font-size: 25px;
  width: 350px;
  background-color: #ffd37a;
  padding: 0.5rem;
  border-radius: 5px;
}

#images{
  margin-left: 40px;
  margin-top: 2%;
}

.poster{
  width: 70%;
  height: auto;
}

.info{
  width: 300px;
  margin:0;
  padding:0;
  margin-left: 60px;
  margin-top: 10px;
  background-color: #ffd37a;
  padding: 0.5rem;
  border-radius: 5px;
}
#description{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  color: #fffff0;
}
