h1 {
    margin-top: 0;
}


form {
    padding: 1em;
}

input[type="text"]
{
    width: 55px;
}

.panel {
	margin-bottom: 15px;
	background-color: rgb(242, 238, 234);
	width: 60%;
}

.row{
  margin-left: 110px;
}

.panel {
  padding: 50px;
    display: none;
}
.moodList {
  display: none;
  padding-left: 500px;
}